<div class="system-layout" [ngStyle]="layoutStyles">
  <!-- Header Section -->
  <div *ngIf="showHeader && mergedConfig.showHeader" class="content-header system-layout-header"
    [ngStyle]="headerStyles">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <h1 class="system-layout-title m-0" [ngStyle]="titleStyles">{{ title }}</h1>
          <p *ngIf="subtitle" class="system-layout-subtitle text-muted mb-0 small mt-1" [ngStyle]="subtitleStyles">
            {{ subtitle }}
          </p>
          <p *ngFor="let item of subtitleItems" class="system-layout-subtitle text-muted mb-0 small mt-1"
            [ngStyle]="subtitleStyles">
            <i *ngIf="item.icon" [class]="item.icon + ' mr-1'" aria-hidden="true"></i>{{ item.label }}
          </p>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right m-0"
            *ngIf="showBreadcrumbs && mergedConfig.showBreadcrumbs && breadcrumbs.length > 0"
            [ngStyle]="breadcrumbStyles">
            <li class="breadcrumb-item" *ngFor="let crumb of breadcrumbs; let last = last" [class.active]="last">
              <a *ngIf="!last && crumb.url" [routerLink]="crumb.url">{{ crumb.label }}</a>
              <span *ngIf="last || !crumb.url">{{ crumb.label }}</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Section -->
  <div class="system-layout-content" [ngStyle]="contentStyles">
    <div class="container-fluid">
      <ng-content></ng-content>
    </div>
  </div>

  <!-- Footer Section -->
  <div *ngIf="showFooter && mergedConfig.showFooter" class="system-layout-footer" [ngStyle]="footerStyles">
    <div class="container-fluid">
      <ng-content select="[footer]"></ng-content>
    </div>
  </div>
</div>