.custom-file-label::after {
  content: "Buscar";
}

.alert-info {
  border-left: 4px solid #17a2b8;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}

.fa-3x {
  font-size: 2.5rem;
}

