.logo-container {
    transition: all 0.3s ease;
    border: 2px dashed #dee2e6 !important;

    &:hover {
        border-color: var(--primary) !important;
        background-color: #f8f9fa !important;
    }

    img {
        filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    }
}

.input-group-text {
    background-color: #f8f9fa;
    border-right: none;
    color: #6c757d;
}

.form-control {
    &:focus {
        border-color: var(--primary);
        box-shadow: none;

        &+.input-group-prepend .input-group-text {
            border-color: var(--primary);
        }
    }
}

.card {
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}