<div class="modal fade" [class.show]="isVisible" [style.display]="isVisible ? 'block' : 'none'" tabindex="-1" (click)="onBackdropClick($event)">
  <div class="modal-dialog modal-dialog-centered modal-employee-edit"
       role="document">
    <div class="modal-content" [style.border-radius.px]="mc.borderRadius">
      <div class="modal-header" [style.border-radius]="mc.borderRadius + 'px ' + mc.borderRadius + 'px 0 0'">
        <h5 class="modal-title">
          <i [class]="mc.headerIcon + ' mr-1'"></i> {{ title }}
        </h5>
        <button type="button" class="close" (click)="onCancel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-0">
        <app-servicios-form
          [employee]="data.employee"
          [isModal]="true"
          [useTabs]="true"
          (employeeSaved)="onSave()"
          (cancelled)="onCancel()">
        </app-servicios-form>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade" [class.show]="isVisible" *ngIf="isVisible"></div>
